<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.srht.taiite.discussions">

    <!-- Needs to start the service as a foreground service, so that Android does not kill it -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Needs internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IRCApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Discussions">

        <!-- Main activity -->
        <!-- Set windowSoftInputMode to allow edge-to-edge drawing -->
        <activity
            android:name=".IRCActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Service responsible for connections with IRC servers -->
        <service
            android:name=".IRCService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>